@if index($hamburger-types, minify) {

  .hamburger--minify {

    .hamburger-inner {
      transition: .4s cubic-bezier(1.000, 0, 0.000, 1);
    }

    .line-top {
      transition: .2s .3s;
    }

    .line-center {
      transition: .2s .4s;
    }

    .line-bottom {
      transition: .2s .3s;
    }

    &.is-active {

      .hamburger-inner {
        transform: rotate(-180deg);
        transition: .4s cubic-bezier(1.000, 0, 0.000, 1);
      }

      .line-top {
        top: $center-position;
        transform: scaleX(.7) rotate(-35deg);
        transition: .2s;
      }

      .line-center {
        opacity: 0;
        transform: scaleX(0);
        transition: .2s cubic-bezier(1.000, 0, 0.000, 1);
      }

      .line-bottom {
        bottom: $center-position;
        transform: scaleX(.7) rotate(35deg);
        transition: .2s;
      }
    }
  }
}