@if index($hamburger-types, shurikens-alt) {

  .hamburger--shurikens-alt {

    .hamburger-inner {
      transition: .2s;
    }

    .line-top {
      transition: .2s .2s;
    }

    .line-bottom {
      transition: .2s .2s;
    }

    .line-center-left {
      transition: left .2s .6s, transform .2s .6s, opacity .2s .6s;
    }

    .line-center-right {
      transition: right .2s .4s, transform .2s .4s, opacity .2s .4s;
    }

    &.is-active {

      .hamburger-inner {
        transform: rotate(45deg);
        transition: .2s .6s;
      }

      .line-top {
        top: $center-position;
        transition: .2s .4s;
      }

      .line-bottom {
        bottom: $center-position;
        transform: rotate(90deg);
        transition: .2s .4s;
      }

      .line-center-left {
        left: -50%;
        transform: rotate(-360deg);
        opacity: 0;
        transition: left .2s cubic-bezier(0.135, 1.650, 1.000, 1.650), transform .2s, opacity .2s;
      }

      .line-center-right {
        right: 100%;
        transform: rotate(-360deg);
        opacity: 0;
        transition: right .2s .2s cubic-bezier(0.135, 1.650, 1.000, 1.650), transform .2s .2s, opacity .2s .2s;
      }
    }
  }
}